.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  min-height: 890px;
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 867px 637px;
  background-color: #f2f2f2;
}
